CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
# CR6606
# CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6606=y
# CR6609
# CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6609=y
# CR6608
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6608=y

# 基础依赖

# 添加插件
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y

# 语言包
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddnsto-zh-cn=y

# 构建输出设置
CONFIG_TARGET_IMAGES_GZIP=y
